{{ form_start(form, {'attr': {'class': 'row'}}) }}

    <div class="input-field col s12 m6 l6">
        {{ form_widget(form.name, {'attr': {'placeholder': 'Nom de l\'équipement'}}) }}
        {{ form_label(form.name) }}
    </div>

    <div class="input-field col s12 m6 l6">
        {{ form_widget(form.number, {'attr': {'placeholder': 'Numero de Série'}}) }}
        {{ form_label(form.number) }}
        <span class="error">{{ form_errors(form.number) }}</span>
    </div>

    <div class="input-field col s12 m6 l6">
        {{ form_widget(form.categories) }}
        {{ form_label(form.categories) }}
    </div>

    <div class="input-field col s12 m12 l12">
        {{ form_widget(form.description, {'attr': {'class': 'materialize-textarea', 'placeholder': 'Le contenu de l\'article'}}) }}
    </div>


    <div class="input-field col s12 m12 l12">
        <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
    </div>
{{ form_end(form) }}